{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}Пользователь{% endblock %}
{% block styles %}<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">{% endblock %}

{% block menu %}
    {% if request.user == user_obj %}
        <li><a href="{% url 'accounts:change' user_obj.pk %}">Редактировать</a></li>
        <li><a href="{% url "accounts:password_change" %}">Смена пароля</a></li>
    {% endif %}
{% endblock %}

{% block content %}
    <h1>Личная страница пользователя {{ user_obj.get_full_name|default:user_obj.username }}</h1>
    {% if user_obj.profile.avatar %}
        <img class="avatar" src="{{ user_obj.profile.avatar.url }}" width="250" height="250" alt="user picture">
    {% else %}
        <img class="avatar" src="{% static 'img/empty.jpg' %}" width="250" height="250" alt="empty picture">
    {% endif %}
    <p>Имя пользователя: {{ user_obj.username }}</p>
    <p>Имя: {{ user_obj.first_name }}</p>
    <p>Фамилия: {{ user_obj.last_name }}</p>
    <p>Дата рождения: {{ user_obj.profile.birth_date|date:'d.m.Y' }}</p>
    <p>Почта: {{ user_obj.email }}</p>
    <div class="card-button">
        {% if request.user.is_authenticated %}
            <h3><a href="#" class="button accept" style="color: white">Отправить сообщение</a></h3>
        {% endif %}
        {% if user_obj.profile in request.user.profile.relationships.all %}
            <h3><a href="{% url "api:friend_remove" user_obj.pk %}" class="button danger removeFriend">Удалить из друзей</a></h3>
        {% else %}
            <h3><a href="{% url "api:friend_add" user_obj.pk %}" class="button cancel addFriend">Добавить в друзья</a></h3>
        {% endif %}
    </div>
{% endblock %}
{% block scripts %}
    <script type="application/javascript" src="{% static "js/friends.js" %}"></script>
{% endblock %}